/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 40px;
}

#first_dropdown{
  border-radius: 0px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Navbar positioning foo */
.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}

/* The navbar becomes detached from the top, so we round the corners
 * Changed this to sticky top and rounded bottom corners.
*/
.navbar-wrapper .navbar {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Change default navbar brand text color */
.navbar-default .navbar-brand {
  color: ghostwhite;
}
/* Change navbar brand color on hover */
/* .navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: ghostwhite;
  background-color: #0066cc;
  filter: brightness(115%);
  border-bottom-left-radius: 15px;
} */
.navbar-default {
  background-color: #0066cc;
  color: white;
  border-bottom: solid medium #fcd955;
}
.navbar-default .navbar-nav > li > a {
  color: ghostwhite;
}
.nav >  li:hover {
  color: white;
  background-color: #1975d1;
  filter: brightness(115%);
}
.nav > .dropdown:hover {
  border-bottom-right-radius: 15px;
}

.featurette-heading {
  font-size: 50px;
}
.dropdown-menu {
  color: white;
}
.navbar-default > .navbar-nav > li .active{
  background-color: black;
  filter: brightness(115%);
}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/*
ADJUST JUMBOTRON DESIGN AND STYLE
*/

#top {
  width: 100%;
  background-size: 100%
}
.jumbotron{
  /* background: #0059b2; */
  background: white;
}

div .bg {
  text-align: center;
  align-items: center;
}

#pls {
  border: none;
  color: white;
  margin: 15px auto;
  padding: 15px 32px;
  font-size: 16px;
}
.lead {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0px 20px 0px; /* Space out the Bootstrap <hr> more */
  border-color: #fcd955;
  border-width: 3px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Remove border style from requirements panel, and change text color. */
#requirements-panel {
  border-style: none;
}
#requirements-panel .panel-hr {
  width: 50%;
  border-color: #999999;
}
#requirements-panel .panel-body {
  color: #333333;
}
#requirements-panel h4 {
  font-weight: normal;
}

/* Change the color whenever highlighted */
::selection {
  background: #fcd955;
  color: #0066cc;
}
::-moz-selection {
  background: #fcd955; /* Gecko Browsers */
  color: #0066cc;
}
h4 {
  font-weight: 600;
}

.panel-hr {
  width: 50%;
  border-width: 3px;
  border-color: #dddddd;
}

.panel-default {
  border-radius: 15px;
  margin: 10px 5px;
  padding: 0px;
}
.panel > .panel-heading {
  color: white;
  background-color: #0066cc;
  border-radius: 15px;
  border-width: medium;
  border-color: #fcd955;
}
.panel > .panel-body {
  color: #0066cc;
}

div .row {
  margin-top: 0px;
  padding-bottom: -10px;
}

#ben {
  border-radius: 50%;
}

iframe {
  margin: 0 auto;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners
   * Changed this to sticky top and rounded bottom corners.
  */
  .navbar-wrapper .navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* Change default navbar brand text color */
  .navbar-default .navbar-brand {
    color: ghostwhite;
  }
  /* Change navbar brand color on hover */
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: ghostwhite;
    background-color: #0066cc;
    filter: brightness(115%);
    border-bottom-left-radius: 15px;
  }
  .navbar-default {
    background-color: #0066cc;
    color: white;
    border-bottom: solid medium #fcd955;
  }
  .navbar-default .navbar-nav > li > a {
    color: ghostwhite;
}
  .nav >  li:hover {
    color: white;
    background-color: #1975d1;
    filter: brightness(115%);
  }
  .nav > .dropdown:hover {
    border-bottom-right-radius: 15px;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .dropdown-menu {
    color: white;
  }
  .navbar-default > .navbar-nav > li .active{
    background-color: black;
    filter: brightness(115%);
  }

  div .bg {
    max-width: 100%;
    max-height: 100%;
  }

  #pls {
    border: none;
    color: white;
    margin: 15px auto;
    padding: 15px 32px;
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
