/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: red;
  background-color: purple;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/*
ADJUST JUMBOTRON DESIGN AND STYLE
*/
.jumbotron {
  color: cyan;
  background: #ff0066;
  margin-top: 53px;
  border-radius: 50px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

::selection {
  background: purple;
  color: white;
}
::-moz-selection {
  background: white; /* Gecko Browsers */
  color: purple;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    color: white;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    float: none;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* Style navbar */
  #navbar {
    color: white;
  }
  .navbar-default {
    background-color: purple;
    color: white;
    border-bottom: solid medium #fcd955;
  }
  .nav >  li:hover {
    color: white;
    background-color: purple;
    filter: brightness(115%);
  }
  .nav > .dropdown:hover {
    border-bottom-right-radius: 15px;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .dropdown-menu {

  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
